<div class="dropdown-div-converter btn-group">  
    <button type='button' class='btn' dojoAttachPoint="splitButton"></button>
<!--    <button type="button" class="btn dropdown-toggle dropdown-button" dojoAttachPoint="dropdownButton"><span class="caret"></span></button>-->
    <div id="profilemenubutton" class="profilemenubutton" dojoAttachPoint="dropdownImg" >
               <div title="Profile" class="profile-menu-button" id="profile-menu-button">
            <div class="menubutton-imagewrapper">
                <img src="https://sprintr.home.mendix.com/document/image?uuid=513d31a2-6b3f-4fca-a699-37f72d5777cb&amp;target=internal&amp;thumb=true&amp;v=3" dojoAttachPoint="dropdownImgTag">
<!--                 <span class="caret"></span>-->
            </div>
	   </div>
    </div>
    <div class="dropdown-menu" dojoAttachPoint="dropdownMenu"></div>
</div>
